* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
}

img {
    width: 100%;
}

/* COLORS */

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
    --grey: #7F9BB3;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* CONTAINER */

.container {
    max-width: 1140px;
    width: 92%;
    margin: 0 auto;
}

/* ROW */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

/* COLUMN */

.col-3 {
    flex-basis: calc(100%/3);
}

.col-6 {
    flex-basis: calc(100%*2/3);
}

/* BUTTONS & ICONS */

.button {
    
}

.button--white {

}

.button--blue {
    color: white;
    background-color: var(--blue);
    border-radius: 22px;
    border: none;
    line-height: 44px;
    font-size: 24px;
    padding: 0 36px;
    margin-top: 32px;
}

.icon--blue {
    color: var(--blue);
    font-size:  80px;
    margin-bottom: 32px;
}

/* TITLES */

h1 {

}

h2 {

}

h3 {
    font-size: 24px;
    margin-bottom: 38px;
}

/* HEADER */

.main-header {
    background-color: var(--blue);
    padding: 19px 0;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.hamburger {
    display: none;
}

/* MEDIAUERY HEADER */

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .header-nav {
        display: none;
    }
}

/* FEATURES */

.features {
    padding-top: 50px;
    padding-bottom: 100px;
}

.features .row:first-child {
    gap: 24px;
}

.features .col-3 {
    flex-basis: calc(100%/3 - 48px/3);
    text-align: center;
}

.features .col-6 {
    flex-basis: calc(100%*2/3 - (12px - (48px/3 - 12px)));
}

.card {
    height: 100%;
    background-color: var(--lightblue);
    padding: 20px;
    border-radius: 20px;
}

.p-text {
    color: var(--grey);
}

.features h3 {
    color: var(--blue);
}

.features p,
.features .button {
   display: block;
}

.card-text,
.card-figure {
    flex-basis: calc(100%/2);
}

.card-figure img {
    aspect-ratio: 200/250 ;
    margin-bottom: -24px;
}

.card-figure {
    justify-content: center;
    align-items: flex-end;
}


/* MEDIAUERY FEATURES */

@media only screen and (max-width: 480px) {
    .features [class^="col-"] {
        flex-basis: calc(100%);
    }
}

@media only screen and (max-width: 768px) {
    .col-6>.card {
        flex-wrap: wrap;
    }

    .card-text,
    .card-figure {
        flex-basis: 100%;
    }

    .card-figure {
        max-width: 200px;
    }

    .card-figure img {
        margin-top: 32px;
    }

    h3 {
        font-size: 20px;
    }

    .icon--blue {
        font-size: 70px;
    }
}






